<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>errezeta SHOP</h3>
            <p>Tecnología a tu alcance</p>
        </div>
        <div class="footer-section">
            <h3>Enlaces rápidos</h3>
            <ul>
                <li><a href="/products">Productos</a></li>
                <li><a href="/chat">Chatea con un Asesor</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Síguenos</h3>
            <div class="social-icons">
                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 errezeta SHOP. Todos los derechos reservados. Desarrollado por Maximiliano Ramos Zwenger</p>
    </div>
</footer>
