<header>
    <nav>
        <a href="/">errezeta Shop</a>
        <a href="/products">Productos</a>
        {{#if isAuthenticated}}
            {{#if user.firstName}}
                <span>Hola, {{user.firstName}}</span>
            {{/if}}
            <a href="/profile">Mi Perfil</a>
            {{#if user.role}}
                {{#if (eq user.role 'admin')}}
                    <a href="/admin">Panel de Administración</a>
                {{/if}}
            {{/if}}
            {{#if activeCart}}
                <a href="/carts/{{activeCart._id}}" class="btn">Ver Carrito</a>
            {{else}}
                <span>Carrito no disponible</span>
            {{/if}}
            <form action="/api/sessions/logout" method="POST" style="display: inline;">
                <button type="submit">Cerrar Sesión</button>
            </form>
        {{else}}
            <a href="/login">Iniciar Sesión</a>
            <a href="/register">Crear Cuenta</a>
        {{/if}}
    </nav>
</header>
