<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Tecnologia a tu alcance</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="site-body">
    <div class="site-content">
        {{> header}}
        
        <main>
            {{#if messages.error}}
                <div class="error-message">{{messages.error}}</div>
            {{/if}}
            {{#if messages.success}}
                <div class="success-message">{{messages.success}}</div>
            {{/if}}
            
            {{{body}}}
        </main>
    </div>
    
    {{> footer}}
    
    <script src="/js/main.js"></script>
</body>

</html>
