<h1>Añadir Nuevo Producto</h1>
<form action="/api/product" method="POST">
  <input type="text" name="title" placeholder="Título" required>
  <textarea name="description" placeholder="Descripción" required></textarea>
  <input type="text" name="category" placeholder="Categoría" required>
  <input type="number" name="price" placeholder="Precio" required>
  <input type="number" name="stock" placeholder="Stock" required>
  <input type="text" name="code" placeholder="Código" required>
  <button type="submit">Añadir Producto</button>
</form>