body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0; /* Gris claro */
}

header {
    background-color: #2c3e50; /* Azul grisáceo oscuro */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.name-menu {
    font-size: 24px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #3498db; /* Azul brillante */
    border-radius: 5px;
    font-weight: bold;
}

.menu a:hover {
    background-color: #2980b9; /* Azul más oscuro */
}

.cart-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.cart-button:hover {
    color: #2980b9; /* Azul más oscuro */
}

.banner {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url('https://img.freepik.com/foto-gratis/fondo-azul-poligonal-abstracto-3d_1048-11983.jpg?t=st=1726510744~exp=1726514344~hmac=ce302fefd79adb5a491e6baaa7c910065be01ac9f5eb3409577e38579653c568&w=740');
    background-size: cover;
    background-position: top;
    margin: 0;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Overlay oscuro con transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: center;
    color: #34495e; /* Gris azulado */
    margin-top: 20px;
}

#product-list {
    list-style-type: none;
    padding: 0;
    max-width: 1200px; /* Ajusta según el ancho máximo deseado */
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas */
    gap: 20px; /* Espaciado entre productos */
}

#product-list li {
    background: #ffffff; /* Blanco */
    border: 1px solid #bdc3c7; /* Gris claro */
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Colocar el contenido en columna */
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#product-list li strong {
    display: block;
    font-size: 18px;
    color: #2c3e50; /* Azul grisáceo oscuro */
    margin-bottom: 10px; /* Espacio entre el título y la descripción */
}

#product-list li em {
    color: #3498db; /* Azul brillante */
    font-size: 16px; /* Tamaño de la fuente del precio */
    margin-top: 10px; /* Espacio entre la descripción y el precio */
}

.error-message {
    color: #e74c3c; /* Rojo */
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #2c3e50; /* Azul grisáceo oscuro */
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
