<header>

    <h1 class="name-menu">errezeta Shop</h1>
    <div class="menu">
        <button class="cart-button"><i class="fas fa-shopping-cart"></i></button>
        <a href="/login">Login</a>
    </div>
    
</header>
